{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true,
        "allowAfterSuper": true
      }
    ],
    "no-static-element-interactions": ["off"],
    "no-restricted-syntax": ["error", "WithStatement"]
  },
  "globals": {
    "require": 0
  }
}
