ul {
	margin: 100px auto 0;
	list-style: none;
	width: 700px;
	font: 30px helvetica;
	font-weight: 100;
}

li {
  margin-bottom: 50px;
}

form {
  width: 700px;
  margin: 0 auto;
}

textarea {
  border-style: none;
  width: 700px;
  margin-left: 20px;
  height: 100px;
  font: 30px helvetica;
  font-weight: 100;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

.backdrop {
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1299;
}

.action-area {
	position: fixed;
	bottom: 5%;
	right: 5%;
}

.content-wrapper {
	display: block;
	box-sizing: border-box;
	max-width: 760px;
	width: 100%;
	margin: 0 auto;
	padding: 1.5em 1em;
}

.title {
	margin: 0;
}

.task-collection {
	display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
}
